.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  background-color: black;

  color: #fff;
}

.tick line {
  stroke: #c0c0bb;
}

.rectBars {
  fill: steelblue;
}

.opaque {
  opacity: 0.5;
}
