.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  background-color: black;

  color: #fff;
}

.col.d-flex {
  background-color: #ffffff;
}

.tick line {
  stroke: #c0c0bb;
  stroke-width: 0.03rem;
}

.rectBars {
  fill: steelblue;
}

.opaque {
  opacity: 0.5;
}

.chart-title {
  font-size: 1.5rem;
  color: #333;
}

.d-flex #svg-id {
  border-radius: 0 0 15px 15px;
}

foreignObject div p {
  font-size: 0.5rem;
}
