.c-footnote {
  font-size: 10px;
  font-weight: bold;
}

.c-date {
  font-size: 10px;
  font-weight: bold;
  color: rgb(72, 72, 72);
}

.cases-info-row:nth-child(4) {
  border-left: 1px solid #ccc;
}
.cases-info-row:nth-child(3) {
  border-left: 1px solid #ccc;
}
