.c-footnote {
  font-size: 10px;
  font-weight: bold;
}

.cases-info-row:nth-child(1) {
  padding-right: 0;
}

.cases-info-row:nth-child(2) {
  border-left: 1px solid #ccc;
}
.cases-info-row:nth-child(3) {
  border-left: 1px solid #ccc;
}
